.link {
  display: inline-flex;
  align-items: baseline;
  svg {
    width: 6px;
    margin-left: 8px;
    transition: transform 150ms ease-in-out;
  }
  &--animated {
    &:hover {
      svg {
        transform: translateX(4px);
      }
    }
  }
  &--primary {
    color: black !important;
    svg {
      * {
        stroke: $gray-light;
      }
    }
    &:hover {
      color: $brand-primary !important;
      svg {
        * {
          stroke: $brand-primary !important;
        }
      }
    }
  }
  &--tertiary {
    color: $brand-secondary !important;
    svg {
      * {
        stroke: $brand-secondary !important;
      }
    }
    &:hover {
      color: $brand-secondary-darker !important;
      svg {
        * {
          stroke: $brand-secondary-darker !important;
        }
      }
    }
  }
  &--secondary {
    color: $brand-primary !important;
    svg {
      * {
        stroke: $brand-primary !important;
      }
    }
    &:hover {
      color: $brand-primary-darker !important;
      svg {
        * {
          stroke: $brand-primary-darker !important;
        }
      }
    }
  }
}
