.menu-language-switch {
  display: flex;
  flex-direction: row;
  div {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    color: white;
  }
  &-option {
    color: $brand-primary !important;
  }
  span {
    height: 25px;
    font-family: $global-font-family-secondary;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    &:hover {
      cursor: pointer;
      color: $global-link-color !important;
    }
  }
}
