.shop-card,
.shop-card--default {
  display: flex;
  flex-direction: column;
  border-radius: $global-border-radius;
  background: $global-background;
  color: $gray-lighter;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
  width: 100%;
  max-height: 288px;
  min-height: 288px;
  min-width: 215px;
  background-color: white;
  text-align: left;
  padding: 16px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;

  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  position: relative;
  @media (max-width: 768px) {
    min-height: 168px;
  }

  .label {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: $brand-primary;
    color: $global-inverse-color;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.44;
    font-weight: bold;
    display: flex;
    border-radius: $global-border-radius;
    overflow: hidden;
    padding: 4px 8px;
    align-items: center;
    span:first-child {
      margin-right: 5px;
    }

    @media (max-width: 768px) {
      right: 8px;
      left: auto;
    }
  }

  .body {
    flex: 1 1 auto;
    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }
  }

  .title {
    font-family: $global-font-family-secondary;
    font-size: 16px;
    font-weight: bold;
    color: $gray-dark;
    margin: 0 0 6px;
  }

  .bar {
    @media (max-width: 768px) {
      position: absolute;
      bottom: 58px;
      left: 16px;
      right: 16px;
      box-sizing: border-box;
    }
  }
  .image {
    &,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: contain;
      width: 200px;
      height: 90px;
      box-sizing: border-box;
      margin: auto;
    }
    img,
    svg {
      margin: 0 auto;
      max-height: 60%;
      max-width: 60%;
    }
    @media (max-width: 768px) {
      &,
      a {
        width: 72px;
        height: 56px;
        margin: 0;
      }
      img,
      svg {
        margin-right: 0;
        max-height: 100%;
        max-width: 100%;
      }
    }
    @media (max-width: 310px) {
      &,
      a {
        width: 56px;
        height: 48px;
        margin: 0;
      }
    }
  }

  .content {
    font-family: Assistant;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
    @media (max-width: 768px) {
      flex: 1 1 60%;
      margin-bottom: 0;
      max-height: 70px;
      min-height: 70px;
    }

    a {
      text-decoration: none;
      width: auto;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .description {
    margin-right: 4px;
  }

  .action {
    display: flex;
    justify-content: flex-end;
    a,
    button {
      width: auto;
    }

    @media (min-width: 768px) {
      a,
      button {
        width: 100%;
      }
    }
  }

  .status-title {
    color: $gray-lighter;
    margin-bottom: 8px;

    @media (max-width: 768px) {
      width: 100%;
      clear: both;
      margin-top: 16px;
      margin-bottom: 16px;
      position: relative;
    }

    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    @media (max-width: 768px) {
      position: absolute;

      bottom: 10px;
      left: 16px;
    }
    color: #777777;
    &.green {
      color: $brand-secondary;
      .shop-card__status-bar-filled {
        background: $brand-secondary;
      }
    }
    &.orange {
      color: #ff9d0a;
      .shop-card__status-bar-filled {
        background: #ff9d0a;
      }
    }

    &-bar {
      position: relative;
      height: 3px;
      background: $tint-gray-light;
      border-radius: 3px;
      overflow: hidden;
    }
    &-bar-filled {
      position: absolute;
      left: 0;
      top: 0;
      height: 3px;
      background: $tint-gray-light;
    }
  }
}

.shop-card--responsive {
  max-height: 182px;
  min-height: 182px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .label {
    right: 8px;
    left: auto;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    @media (max-width: $breakpoint-small-max) {
      height: 120px;
    }
  }
  .bar {
    position: absolute;
    bottom: 52px;
    left: 16px;
    right: 16px;
  }
  .image {
    &,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: contain;
      width: 72px;
      height: 56px;
      margin: 0;
      box-sizing: border-box;
    }
    img,
    svg {
      margin-right: 0;
      max-height: 100%;
      max-width: 100%;
    }
    @media (max-width: $breakpoint-small-max) {
      margin: 0px;
    }
  }

  .content {
    flex: 1 1 60%;
    margin-bottom: 0;
  }

  .action {
    width: 50%;
    margin-left: auto;
    @media (max-width: 1238px) {
      > * {
        padding: 8px 8px;
      }
    }
  }

  .status-title {
    width: auto;
    clear: both;
    position: absolute;
    left: 16px;
    bottom: 18px;
  }
}
