.dropdown {
  overflow: hidden;
  border-radius: 2px;
  width: 107px;
  &--open {
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.18);
  }
}

.dropdown-child {
  width: auto;
  display: inline-block;

  background-color: $tint-gray-light;
  color: $gray-dark;
  svg {
    transition: all 200ms;
    // stroke: white !important;
    stroke: black;
    fill: none;
  }
  :focus {
    outline: none;
  }

  &--has-selected {
    svg {
      stroke: white;
    }
  }
  &--open {
    button:hover {
      background: white;
    }
    svg {
      transform: rotate(180deg);
    }
  }
}

.content {
  z-index: 1;
  margin-top: -1px;
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18);
  position: absolute;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 20px;
  transition: opacity 200ms;
  opacity: 0;
  visibility: collapse;

  &--open {
    opacity: 1;
    visibility: visible;
  }
}

.counter {
  font-size: 15px;
  color: #777777;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  &-ul {
    list-style: none;
    width: 230px;
  }
  &-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  cursor: pointer;
}
