.playground-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // background: black;
}

.part-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  width: 100%;
}
