.stores-overview {
  background-color: var(--tint-grey-97);
  &__header {
    padding-bottom: 16px;
    background-color: var(--tint-white);
  }
  &__body {
    width: 100%;
    margin: auto;
    &__list {
      flex-wrap: wrap;
      flex-direction: row;
      display: flex;
    }
    &__cards {
      flex: 0 1 19%;
      padding: 4px;
      @media (max-width: 1160px) {
        flex: 0 1 24%;
      }
      @media (max-width: 950px) {
        padding: 3px;
        flex: 0 1 32.5%;
      }
      @media (max-width: 770px) {
        padding: 1.5px;
      }
      @media (max-width: 699px) {
        flex: 0 1 100%;
      }
    }
  }
  &__tab {
    border-bottom: 1px solid $tint-gray;
    .uk-tab {
      margin: 0;
      padding: 0;
      list-style: none;
      &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        > li {
          font-weight: 600;
          a {
            padding: 14px 16px;
            text-decoration: none;
            color: inherit;
            display: inline-flex;
          }
          &.uk-active {
            a {
              background-color: rgba($brand-primary, 0.1);
              position: relative;
              color: $brand-primary;
              &:after {
                content: "";
                width: 100%;
                bottom: 0;
                position: absolute;
                background-color: $brand-primary;
                height: 2px;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
