.medium-hero {
}

.holder {
  position: relative;
}

.image {
  height: 260px;
  overflow: hidden;
  position: relative;
  @media (max-width: $breakpoint-small-max) {
    height: 200px;
  }
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.3);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    color: $global-inverse-color;
  }
  span {
    color: $global-inverse-color;
  }
}

.top {
  padding: 16px 0;
}
