.card-simple {
  display: flex;
  &__body {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $global-border-radius;
    box-shadow: 0 4px 8px 0 rgba(#000, 0.08);
    flex-grow: 1;
    background-color: $global-inverse-color;
  }
  &__head {
    display: flex;
    align-items: center;
    color: $global-color;
    font-weight: bold;
    font-family: $global-font-family-secondary;
  }
  &__image {
    margin-right: 16px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    text-decoration: none;
  }
}