.filter-modal {
  width: 536px;
  height: 100%;
  z-index: 0;
  position: relative;
  &-container {
    margin: auto;
    width: 90%;
  }
  &-head {
    input {
      margin-top: 10px;
      width: 98.5%;
      height: 40px;
      background-color: #eee8e8;
    }
  }
  &-body {
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
  }
  &-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    overflow-y: auto;
    padding-top: 24px;
    max-height: 185px;
    > li {
      width: 45%;

      font-size: 15px;
      &:not(:last-child) {
        margin-bottom: 13px;
      }
      .count-item {
        color: $gray-light;
      }
    }
  }
  &-bottom {
    z-index: 1;
    background-color: $global-inverse-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 0.2px solid $gray;

    height: 68px;
    &__action {
      margin: 0;
      display: flex;
      justify-content: space-between;
      padding: 16px;
    }
  }
}
