.expandable-panel {
  cursor: pointer;

  &__list {
    margin: 0px;
    display: contents;
    cursor: pointer;
    text-align: left;
    margin: 0px;
    list-style: none;
  }

  &__block {
    position: relative;
    z-index: 1;
  }

  &__title {
    position: relative;
    z-index: 1;
  }
  &__icon {
    position: absolute;
    z-index: 2;
    right: 2px;
    top: 16px;
    path {
      fill: #fff;
    }
  }
}
.expandable-panel__block {
  .expandable-panel__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-in-out, margin 0.3s ease-in-out;
    margin: 0;
    z-index: 1;
    position: relative;
    font-size: 16px;
    cursor: initial;
  }
  &__open {
    .expandable-panel__content {
      margin: 5px 0 15px 0;
      max-height: 500px;
      height: auto;
      transition: max-height 0.25s ease-in-out, margin 0.3s ease-in-out;
    }
  }
}
