.share-box {
  top: 0;
  position: absolute;

  &-right {
    right: 0;
  }
  &-left {
    left: 0;
  }
  button {
    background: $tint-gray-light;
    border-radius: 100%;
    height: 55px;
    width: 55px;
  }
}
