.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;

  &__filter-list {
    display: flex;
    align-items: center;
    margin: 0 -4px;
    > * {
      padding: 0 4px;
    }
    .filter {
      &-label {
        display: none;
        background-color: transparent;
        border: none;
        color: $global-inverse-color;
        align-items: center;
        padding: 12px 0;
        box-sizing: border-box;
        position: relative;
        @media (max-width: $breakpoint-small-max) {
          display: flex;
          padding: 15px;
          font-size: 14px;
          justify-content: center;
          line-height: 1;
          .icon-svg {
            transform: rotate(90deg) translateX(-2px);
          }
        }
        &--mobile {
          flex: 1 1 100%;
          background-color: $tint-gray-light;
          justify-content: space-between;
          .icon-svg {
            transform: rotate(0) translateX(-2px);
            path {
              fill: $gray-dark;
            }
          }
        }
      }
    }
  }
  &__sort {
    display: none;
    @media (min-width: $breakpoint-medium) {
      display: flex;
      align-items: center;
    }
  }
  .filter__sort {
    display: flex;
    align-items: center;
    margin: 0 -12px;
    &-item {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: $gray-light;
      padding: 0 12px;
      > .icon-svg {
        margin-right: 16px;
      }
    }
    &-change {
      display: flex;
      align-items: center;
      color: $gray-dark;
      font-weight: 500;
      margin-left: 3px;
      .icon-svg {
        margin-left: 8px;
      }
    }
  }
}
