.counter {
  font-size: 15px;
  color: #777777;
  margin-bottom: 12px;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  cursor: pointer;

  input {
    font-weight: 600;
  }
}
