.featured-shops {
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;

  &__list {
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;

    > * {
      padding: 0 8px;
      flex: 0 1 25%;
    }
  }
}
