.page-progress-bar {
  position: relative;
  height: 3px;
  background-color: $tint-gray;
  box-sizing: border-box;
  &__progress {
    background-color: rgba(var(--colour-version-website), 1);
    height: 100%;
    border-radius: 2px;
    transition: all ease 100ms;
  }
}
