.featured-blog {
  &__card {
    width: 50%;
    @media (max-width: $breakpoint-xsmall-max) {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 36px;
    @media (max-width: $breakpoint-small-max) {
      margin-bottom: 16px;
    }
  }

  &__body {
    width: 100%;

    > div {
      padding-bottom: 8px;
    }
    @media (min-width: $breakpoint-small) {
      display: flex;
      margin: 0 -12px;
      > div {
        flex: 1 1 auto;
        padding: 0 12px;
      }
    }
  }
}
