.dropdown {
  &-button {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18);
  }
  &-content {
    margin-top: 0;
    background-color: var(--tint-white);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18);
  }
}
