.dropdown {
  display: inline-block;
  margin: 20px 0 0 30%;

  &-isOpen {
    width: auto;
    height: auto;
    border: solid 1px black;
    background-color: var(--tint-white);
  }
  &-isClose {
    display: none;
  }
  &-button {
  }
}
