.breadcrumb {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  li {
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    &:not(:last-child) {
      &::after {
        margin-left: 8px;
        display: block;
        content: "\2014";
      }
    }
  }

  ul {
    margin: 0;
  }

  a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    span {
      stroke: rgba(255, 255, 255, 0.5) !important;
    }
    &:hover {
      text-decoration: none;
      color: $global-inverse-color;
      span {
        stroke: $global-inverse-color !important;
      }
    }
  }
}

.back-button {
  display: flex;
  align-items: center;
}

.back-button-text {
  margin-left: 8px;
}

@media (max-width: $breakpoint-xsmall-max) {
  .breadcrumb {
    justify-content: flex-start;
  }
}
