.usp {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 0 -25px;
  &__item {
    padding: 0 25px;
    text-align: center;
  }
  &__link {
    color: $gray-light;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    text-align: left;
    &:hover {
      color: $gray;
      text-decoration: none;
      span {
        fill: $gray;
      }
    }
  }
  .icon-svg {
    margin-right: 8px;
    path {
      fill: currentColor;
    }
  }
  .usp__item {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    .usp__item:nth-child(n + 3) {
      display: none;
    }
  }
  @media (max-width: 360px) {
    .usp__item:nth-child(n + 1) {
      position: absolute;
    }
    .usp__item:nth-child(n + 2) {
      display: flex;
      position: absolute;
      opacity: 0;
    }
    margin-bottom: 16px;
  }
}
