.share {
  &__social-link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18);
    }
    width: 100%;
  }

  &__social-icon {
    width: 25px;
    height: 25px;
    border-radius: $global-border-radius;
    border: solid 2px $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    flex: 0 0 auto;
    background: #000;

    path {
      fill: #fff;
    }
  }
  &__social-link:hover path {
    fill: red;
  }

  &__social-title {
    font-size: 15px;
    color: $gray-dark;
  }
}
