.button,
.button--primary-default {
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 600;
  font-family: $global-font-family;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  user-select: none;
  justify-content: center;
  position: relative;
  border-radius: 2px;
  padding: 8px 24px;
  transition: background-color 0.05s;
  cursor: pointer;
  color: $global-inverse-color !important;
  background-color: $brand-secondary;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
  }
  .icon-svg {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    path {
      fill: $global-inverse-color;
    }
  }

  &:hover,
  .button--primary-default:hover {
    text-decoration: none;
    background-color: darken($global-secondary-background, 7%);
  }

  &--primary-brand {
    background-color: $gray-dark;

    &:hover {
      background-color: lighten($gray-dark, 10%);
    }
  }

  &--primary-inverted {
    color: $gray-dark !important;
    background-color: $global-background;
    &:hover {
      background-color: $global-muted-background;
    }
    .icon-svg path {
      fill: $gray-dark;
    }
  }

  &--secondary {
    color: $gray-dark !important;
    background-color: $tint-gray-light;
    &:hover {
      background-color: darken($tint-gray-light, 7%);
    }
    .icon-svg path {
      fill: $gray-dark;
    }
  }

  &--small {
    padding: 8px 18px;
  }
}

.icon-left {
  margin-right: 8px;
}

.icon-right {
  margin-left: 8px;
}
