.button,
.button--primary-default {
  margin: 0;
  border: none;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 600;
  font-family: $global-font-family;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  user-select: none;
  justify-content: center;
  position: relative;
  border-radius: 2px;
  padding: 8px 24px;
  transition: background-color 0.05s;
  cursor: pointer;
  color: $global-inverse-color !important;
  background-color: $brand-secondary;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
  }
  .icon-svg {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &:hover,
  .button--primary-default:hover {
    text-decoration: none;
    background-color: darken($global-secondary-background, 7%);
  }

  &--primary-brand {
    background-color: $gray-dark;
    &:hover {
      background-color: lighten($gray-dark, 10%);
    }
  }

  &--primary-inverted,
  &--secondary-inverted {
    color: $gray-dark !important;
    background-color: $global-background;
    &:hover {
      background-color: $global-muted-background;
    }
  }

  &--secondary {
    color: $gray-dark !important;
    background-color: $tint-gray-light;
    &:hover {
      background-color: darken($tint-gray-light, 7%);
    }
  }

  &--tertiary {
    color: $gray-dark !important;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 2px $brand-primary;
    -moz-box-shadow: inset 0px 0px 0px 2px $brand-primary;
    box-shadow: inset 0px 0px 0px 2px $brand-primary;
    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 2px darken($brand-primary, 7%);
      -moz-box-shadow: inset 0px 0px 0px 2px darken($brand-primary, 7%);
      box-shadow: inset 0px 0px 0px 2px darken($brand-primary, 7%);
      color: darken($brand-primary, 7%) !important;
      background-color: lighten($brand-primary, 51%) !important;
    }
  }

  &--tertiary-inverted {
    color: $global-inverse-color;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 2px $brand-primary;
    -moz-box-shadow: inset 0px 0px 0px 2px $brand-primary;
    box-shadow: inset 0px 0px 0px 2px $brand-primary;

    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 2px darken($brand-primary, 7%);
      -moz-box-shadow: inset 0px 0px 0px 2px darken($brand-primary, 7%);
      box-shadow: inset 0px 0px 0px 2px darken($brand-primary, 7%);
      background-color: darken($brand-primary, 35%) !important;
    }
  }

  &--FAB {
    padding: 0;
    width: 40px;
    height: 40px;
  }

  &--small {
    padding: 8px 18px;
  }
}

.icon-left {
  margin-right: 8px;
}

.icon-right {
  margin-left: 8px;
}

// Instead of each loop

.button--primary-default--icon-filled .icon-svg path {
  fill: $global-inverse-color;
}

.button--primary-default--icon-filled:hover .icon-svg path {
  fill: $global-inverse-color;
}

.button--primary-default--icon-outline .icon-svg path {
  stroke: $global-inverse-color;
}

.button--primary-default--icon-outline:hover .icon-svg path {
  stroke: $global-inverse-color;
}

.button--primary-default--icon-outline-fill .icon-svg path {
  fill: $global-inverse-color;
  stroke: $global-inverse-color;
}

.button--primary-default--icon-outline-fill:hover .icon-svg path {
  fill: $global-inverse-color;
  stroke: $global-inverse-color;
}

.button--primary-brand--icon-filled .icon-svg path {
  fill: $global-inverse-color;
}

.button--primary-brand--icon-filled:hover .icon-svg path {
  fill: $global-inverse-color;
}

.button--primary-brand--icon-outline .icon-svg path {
  stroke: $global-inverse-color;
}

.button--primary-brand--icon-outline:hover .icon-svg path {
  stroke: $global-inverse-color;
}

.button--primary-brand--icon-outline-fill .icon-svg path {
  fill: $global-inverse-color;
  stroke: $global-inverse-color;
}

.button--primary-brand--icon-outline-fill:hover .icon-svg path {
  fill: $global-inverse-color;
  stroke: $global-inverse-color;
}

.button--primary-inverted--icon-filled .icon-svg path {
  fill: $gray-dark;
}

.button--primary-inverted--icon-filled:hover .icon-svg path {
  fill: $gray-dark;
}

.button--primary-inverted--icon-outline .icon-svg path {
  stroke: $gray-dark;
}

.button--primary-inverted--icon-outline:hover .icon-svg path {
  stroke: $gray-dark;
}

.button--primary-inverted--icon-outline-fill .icon-svg path {
  fill: $gray-dark;
  stroke: $gray-dark;
}

.button--primary-inverted--icon-outline-fill:hover .icon-svg path {
  fill: $gray-dark;
  stroke: $gray-dark;
}

.button--secondary--icon-filled .icon-svg path {
  fill: $gray-dark;
}

.button--secondary--icon-filled:hover .icon-svg path {
  fill: $gray-dark;
}

.button--secondary--icon-outline .icon-svg path {
  stroke: $gray-dark;
}

.button--secondary--icon-outline:hover .icon-svg path {
  stroke: $gray-dark;
}

.button--secondary--icon-outline-fill .icon-svg path {
  fill: $gray-dark;
  stroke: $gray-dark;
}

.button--secondary--icon-outline-fill:hover .icon-svg path {
  fill: $gray-dark;
  stroke: $gray-dark;
}

.button--secondary-inverted--icon-filled .icon-svg path {
  fill: $gray-dark;
}

.button--secondary-inverted--icon-filled:hover .icon-svg path {
  fill: $gray-dark;
}

.button--secondary-inverted--icon-outline .icon-svg path {
  stroke: $gray-dark;
}

.button--secondary-inverted--icon-outline:hover .icon-svg path {
  stroke: $gray-dark;
}

.button--secondary-inverted--icon-outline-fill .icon-svg path {
  fill: $gray-dark;
  stroke: $gray-dark;
}

.button--secondary-inverted--icon-outline-fill:hover .icon-svg path {
  fill: $gray-dark;
  stroke: $gray-dark;
}

.button--tertiary--icon-filled .icon-svg path {
  fill: $gray-dark;
}

.button--tertiary--icon-filled:hover .icon-svg path {
  fill: darken($brand-primary, 7%) !important;
}

.button--tertiary--icon-outline .icon-svg path {
  stroke: $gray-dark;
}

.button--tertiary--icon-outline:hover .icon-svg path {
  stroke: darken($brand-primary, 7%) !important;
}

.button--tertiary--icon-outline-fill .icon-svg path {
  fill: $gray-dark;
  stroke: $gray-dark;
}

.button--tertiary--icon-outline-fill:hover .icon-svg path {
  fill: darken($brand-primary, 7%) !important;
  stroke: darken($brand-primary, 7%) !important;
}

.button--tertiary-inverted--icon-filled .icon-svg path {
  fill: $global-inverse-color;
}

.button--tertiary-inverted--icon-filled:hover .icon-svg path {
  fill: $global-inverse-color !important;
}

.button--tertiary-inverted--icon-outline .icon-svg path {
  stroke: $global-inverse-color;
}

.button--tertiary-inverted--icon-outline:hover .icon-svg path {
  stroke: $global-inverse-color !important;
}

.button--tertiary-inverted--icon-outline-fill .icon-svg path {
  fill: $global-inverse-color;
  stroke: $global-inverse-color;
}

.button--tertiary-inverted--icon-outline-fill:hover .icon-svg path {
  fill: $global-inverse-color !important;
  stroke: $global-inverse-color !important;
}
