.green {
  color: $brand-secondary;
  .time-left-bar-control-filled {
    background: $brand-secondary;
  }
}
.orange {
  color: #ff9d0a;
  .time-left-bar-control-filled {
    background: #ff9d0a;
  }
}

.time-left-bar {
  color: $gray-lighter;
  margin-bottom: 8px;
  order: 3;
  width: 100%;
  clear: both;
  margin-top: 2px;
  position: relative;

  &-control {
    position: relative;
    height: 3px;
    background: $tint-gray-light;
    border-radius: 3px;
    overflow: hidden;
  }
  &-control-filled {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    background: $tint-gray-light;
  }
}

.responsive {
  order: 3;
  width: 100%;
  clear: both;
  margin-top: 2px;
  position: relative;
  &__status {
    order: 3;
    width: 100%;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    &-title {
      position: absolute;
      left: 0;
      top: 28px;
      width: 50%;
    }
  }
}
