.cta-small-newsletter {
  &__center {
    padding: 24px;
    background: $global-background;
  }
  &__wrapper {
    border-radius: $global-border-radius;
    text-align: center;
    display: inline-block;
    width: 100%;
    @media (min-width: $breakpoint-small) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__title {
    margin: 0 0 24px;
    font-weight: 600;
    @media (min-width: $breakpoint-small) {
      margin: 0 32px;
    }
  }
  .icon-svg {
    @media (max-width: $breakpoint-xsmall-max) {
      margin: 0 auto 16px;
    }
  }

  button {
    @media (min-width: $breakpoint-small) {
      white-space: nowrap;
    }
  }
}

.icon {
  display: inline-block;
}
