.product-detail {
  box-sizing: content-box;
  background-color: $bg-muted;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 32px 72px 32px;
  @media (max-width: $breakpoint-xsmall-max) {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 48px;
    .card-wrap {
      padding: 0 16px;
      margin-bottom: 16px;
    }
  }
  .uk-margin-small-top {
    margin-top: 8px;
    @media (max-width: $breakpoint-small-max) {
      margin-top: 0;
    }
  }
  .card {
    &-shop {
      height: auto;
      padding-bottom: 52px;
      @media (max-width: $breakpoint-small-max) {
        padding-bottom: 16px;
        margin-bottom: 16px;
      }
    }
    &-message {
      padding: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $global-inverse-color;
      background-color: $gray-dark;
      text-align: center;
      position: relative;
      &:after {
        content: "";
        width: 40px;
        height: 40px;
        background-color: $gray-dark;
        transform: rotate(45deg) translateX(-50%);
        position: absolute;
        top: 0;
        left: 50%;
        @media (max-width: $breakpoint-xsmall-max) {
          height: 20px;
          width: 20px;
        }
      }
      .card {
        &__body {
          margin-top: 18px;
          overflow: hidden;
        }
        &__action {
          margin-top: 16px;
          .button {
            width: 100%;
          }
        }
        &__head {
          .icon-svg {
            path {
              fill: $global-inverse-color;
            }
          }
        }
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    &__item {
      svg {
        path {
          stroke: #00a82f;
        }
      }
      align-items: center;
      display: inline-flex;
      margin: 6px 0;
      font-family: Assistant;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: #777777;
      &__text {
        margin-left: 16px;
      }
    }
  }
  &__header {
    height: 216px;
    overflow: hidden;
    border-radius: 2px 2px 0px 0px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    background-color: $global-inverse-color;
    border-radius: 2px;
  }
  &__content {
    padding: 16px 32px 32px;
    &__subtitle {
      display: flex;
      align-items: flex-start;
      margin-bottom: -8px;
    }
    @media (max-width: $breakpoint-xsmall-max) {
      padding: 16px;
      padding-bottom: 48px;
    }
    h1 {
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .breadcrumbs {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      margin: 0 -10px;
      font-size: 12px;
      li {
        padding: 0 10px;
        display: flex;
        font-weight: 600;
        justify-content: space-between;
        color: #999999;
        position: relative;
        > a {
          color: inherit;
          text-decoration: none;
        }
        &:not(:last-child) {
          &:after {
            content: "";
            width: 10px;
            height: 1px;
            color: #999999;
            background-color: #999999;
            position: absolute;
            top: 50%;
            right: -4px;
          }
        }
      }
    }
    .content {
      &__see-more {
        display: block;
        width: 70px;
        margin-bottom: 16px;
        margin-top: -36px;
      }
      position: relative;
      &__gradient {
        background: -moz-linear-gradient(
          top,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 76%,
          rgba(255, 255, 255, 1) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 76%,
          rgba(255, 255, 255, 1) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 76%,
          rgba(255, 255, 255, 1) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: calc(100% - 80px);
      }
      &__head {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        justify-content: space-between;
        &__stars {
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #00a82f;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: right;
          white-space: nowrap;
        }
      }
      &__body {
        margin: 32px 0;
        overflow: hidden;
      }
    }
    .uk-list {
      margin-bottom: 32px;
    }
  }
  &__footer {
    border-top: 1px solid $tint-gray-light;
    padding-top: 16px;
    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 8px;
      @media (max-width: $breakpoint-xsmall-max) {
        margin-bottom: 0;
      }

      &__item {
        display: flex;
        align-items: center;
        order: 1;
        margin-bottom: 16px;
        @media (max-width: $breakpoint-xsmall-max) {
          flex: 1 1 100%;
          justify-content: space-between;
          & + .actions__item {
            order: 0;
            margin-bottom: 16px;
          }
        }

        &-wrap {
          margin: 0 -4px;
          flex: 1 1 100%;
          display: flex;
          > * {
            margin: 0 4px;
            @media (max-width: $breakpoint-xsmall-max) {
              width: 50%;
            }
          }
        }
        .button {
          &--link {
            padding: 0;
            @media (max-width: $breakpoint-xsmall-max) {
              width: auto;
            }
          }
        }
      }
      &__item__first {
        display: inline-flex;
        align-items: baseline;
        :hover {
          color: $brand_secondary !important;
          svg {
            path {
              fill: $brand_secondary !important;
            }
          }
        }
        svg {
          margin-left: 8px;
          path {
            fill: #777;
          }
        }
      }
    }
    .labels {
      display: flex;
      align-items: center;
      > * {
        margin: 0 4px;
        border-radius: 2px;
      }
      &:first-child {
        margin-left: 0px;
      }
      &__item {
        padding: 0 4px;
      }
    }
  }
  .rating {
    flex-direction: column;
    align-items: flex-end;
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      margin: 0 -2px;
      > li {
        padding: 0 2px;
      }
      .icon-svg {
        svg {
          fill: $tint-gray;
        }
      }
    }
    &__description {
      font-size: 12px;
      font-weight: bold;
      color: #00a82f;
      margin-top: 4px;
    }
  }
}

.container {
  box-sizing: content-box;
  background-color: $bg-muted;
  width: 100%;
  height: 100%;
}
