.store-overview {
  padding: 24px 0;
  background-color: #f7f7f7;
  min-height: 500px;
}

.stores-overview {
  background-color: var(--tint-grey-97);
  &__header {
    padding-bottom: 16px;
    background-color: var(--tint-white);
  }
  &__body {
    color: red;
    &__list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    &__cards {
      @media (max-width: 720px) {
        flex: 1 1 100%;
      }
    }
  }
}
.ciao {
  flex: 1 1 350px;
  height: auto;
  margin: 4px;
}
