.store-overview {
  padding: 24px 0;
  background-color: #f7f7f7;
  min-height: 500px;
}

.stores-overview {
  background-color: var(--tint-grey-97);
  &__header {
    padding-bottom: 16px;
    background-color: var(--tint-white);
  }
  &__body {
    color: red;
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__cards {
      flex: 0 1 19%;
      padding: 5px;
      @media (max-width: 1200px) {
        flex: 0 1 24%;
        padding: 4px;
      }
      @media (max-width: 960px) {
        flex: 0 1 32%;
      }
      @media (max-width: 769px) {
        padding: 4px 0px;
        flex: 0 1 100%;
      }
    }
  }
}
