.small-header {
  color: $global-inverse-color;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  padding: 72px 0;
  @media (max-width: $breakpoint-small-max) {
    margin-bottom: 24px;
    padding: 40px 0;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    text-align: left;
  }
  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: $gray-dark;
    z-index: -1;
  }
  &::after {
    background: url("../../../assets/pattern.svg");
    background-position: 50% 0;
    background-size: 2000px auto;
    opacity: 0.5;
  }

  h1 {
    font-weight: bold;
    color: $global-inverse-color;
  }
}
