.navbar-menu-item {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;

  @media (max-width: $breakpoint-small) {
    margin-left: 20px;
  }
  &__navigation {
    height: 75%;
    overflow: scroll;
    box-sizing: border-box;

    > * {
      margin-bottom: 24px;
    }
    a {
      text-decoration: none;
      color: $global-inverse-color;
      &:hover {
        color: $global-link-color;
      }
    }
  }
  li:before {
    content: none !important;
  }
  &__expandable-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $global-inverse-color;
    a {
      font-family: $global-font-family-secondary;
      font-size: 14px;
      font-weight: 600;
    }
    &:hover {
      color: $global-link-color;
    }
  }
  &__clicked {
    a {
      color: rgba(var(--colour-version-website), 1);
    }
    .navbar-menu-item__expandable__icon {
      path {
        stroke: rgba(var(--colour-version-website), 1);
      }
    }
  }
  &__language {
    background-color: #1c1c1c;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &__expandable {
    &-title {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        a {
          color: rgba(var(--colour-version-website), 1);
        }

        .navbar-menu-item__expandable__icon {
          path {
            stroke: rgba(var(--colour-version-website), 1);
          }
        }
      }
    }
    &__icon {
      margin-left: 15px;

      path {
        stroke: #fff;
      }
    }
  }
}
