.nav-bar {
  font-family: $global-font-family-secondary;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  z-index: 10;
  box-shadow: inset 0 -1px 0 0 $tint-gray;
  padding: 16px 0;
  background: $global-background;
  @media (max-width: $breakpoint-small-max) {
    padding: 12px 0;
  }
  &__holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    margin-right: 28px;
    width: 180px;
    height: 45px;
    > a {
      display: block;
      height: 100%;
    }
    svg {
      height: 100%;
      width: 100%;
      @media (max-width: $breakpoint-small-max) {
        height: 40px;
        max-height: 40px;
      }
    }
    @media (max-width: $breakpoint-small-max) {
      width: 150px;
    }
    @media (max-width: 345px) {
      max-width: 135px;
      margin-left: 0px;
      max-width: calc(100% - 16px);
      width: calc(100% - 16px);
      margin-right: 0;
    }
  }
  &__label {
    background: rgba(var(--colour-version-website), 0.15);
    color: rgba(var(--colour-version-website), 1);
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 28px;
    border-radius: 0 2px 2px 0;
    font-size: 12px;
    padding: 0 8px 0 5px;
    font-weight: bold;
    text-transform: uppercase;
    &::before {
      position: absolute;
      left: -28px;
      top: 0;
      bottom: 0;
      content: "";
      border: 14px solid transparent;
      border-right-color: rgba(var(--colour-version-website), 0.15);
    }
  }
  &__navigation {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      margin-right: 32px;
      @media (max-width: 1000px) {
        margin-right: 25px;
      }
    }
    a {
      text-decoration: none;
      color: $global-color;
      font-family: $global-font-family-secondary;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__search-button {
    > button {
      border-radius: $global-border-radius;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border: 2px solid rgba(var(--colour-version-website), 1);
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $breakpoint-small-max) {
        height: 45px;
        width: 45px;
      }
      path {
        fill: rgba(var(--colour-version-website), 1);
      }
    }
  }
  &__toggle {
    > button {
      margin-left: 8px;
      border-radius: $global-border-radius;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 50px;
      padding: 10px 24px;
      box-sizing: border-box;
      background: $tint-gray-light;
      font-weight: 600;
      font-family: $global-font-family-secondary;
      font-size: 14px;
      @media (max-width: $breakpoint-small-max) {
        height: 45px;
        padding: 8px 16px;
      }
      > div {
        margin-right: 8px;
      }
    }
  }
}
