.banner-module {
  display: initial;
}

.container {
  width: 100%;
  @media (max-width: $breakpoint-small) {
    width: auto;
  }
}

.holder {
  background: $global-background;
  border-radius: $global-border-radius;
  color: $gray-light;
  overflow: hidden;

  @media (min-width: $breakpoint-small) {
    display: flex;
  }
}
